body {
  background-color: black;
  color: white;
  font-family: Ubuntu;
}

.song {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 300px;
}

a:link {
  color: #00ccff;
}

a:visited {
  color: #00ccff;
}

a:hover {
  color: #00ccff;
}

a:active {
  color: #00ccff;
}